<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
        <label th:text="${loggedUser.fullName}"></label>
    </form>
</div>
<br>
<div>
    <h3>My tasks:</h3>
    <form th:action="@{/task/add}" method="post">
        <input type="submit" value="Add new task"/>
    </form>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Direction</th>
            <th>Date/time</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Result</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${tasks}">
            <td th:utext="${task.current} ? '*' : ''"></td>
            <td th:utext="${task.direction}"></td>
            <td th:utext="${#temporals.format(task.dtCreated, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:utext="${task.author.fullName}"></td>
            <td th:utext="${task.subject}"></td>
            <td th:utext="${task.taskStatus}"></td>
            <td th:utext="${task.result}"></td>
            <td>
                <form th:action="@{/task/del/{id}(id=${task.id})}" method="post" th:if="${task.editable}">
                    <input type="submit" value="X"/>
                </form>
            </td>
            <td>
                <form th:action="@{/task/{id}(id=${task.id})}" method="post">
                    <input type="submit" value="..."/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
</div>
</body>
</html>