<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Task Manager: Resolution'"></title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/icons.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<div class="container">
    <div class="modal-header">
        <h3 class="modal-title"><b>Resolution</b></h3>
        <form action="#" th:action="@{/task/{id}(id=${resolution.task.id})}" method="get">
            <button type="submit" class="close" aria-hidden="true">&times;</button>
        </form>
    </div>
    <form action="#" th:action="@{/resolution/save}" th:object="${resolution}" method="post">
        <input type="hidden" name="taskId" th:value="${resolution.task.id}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{task}"/>
        <input type="hidden" th:field="*{action}"/>
        <div class="modal-body">
            <div class="form-group">
                <label>User</label>
                <select th:field="*{user}" class="form-control" required>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:utext="${user.fullName}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Queue number</label>
                <input type="number" min="1" max="9" step="1" value="1" name="queueNumber"
                       class="form-control" required/>
            </div>
            <div class="form-group">
                <label>Instruction</label>
                <select th:field="*{instruction}" class="form-control" required>
                    <option th:each="instruction : ${T(app.entity.Instruction).values()}"
                            th:value="${instruction}"
                            th:utext="${instruction.caption}">
                    </option>
                </select>
            </div>
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    </form>
</div>
</body>
</html>