<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Task Manager: Task Log'"></title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/icons.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<div class="container">
    <div class="modal-header">
        <h3 class="modal-title"><b>Task Log</b></h3>
        <form action="#" th:action="@{/task/{id}(id=${currentTask.id})}" method="get">
            <button type="submit" class="close" aria-hidden="true">&times;</button>
        </form>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <label>Author</label>
                <label th:utext="${currentTask.author?.fullName}" class="form-control"></label>
            </div>
            <div class="form-group">
                <label>Subject</label>
                <label th:utext="${currentTask.subject}" class="form-control"></label>
            </div>
    </div>

    <div class="modal-body" th:if="${currentTask.id != null}">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Log data</h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Date/Time</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="tasklog:${tasklogs}"
                    th:class="${tasklog.action?.result == T(app.entity.Result).YES} ? 'task-success' : (${tasklog.action?.result == T(app.entity.Result).NO} ? 'task-failure' : '')">
                    <td th:utext="${#temporals.format(tasklog.dt, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:utext="${tasklog.user.fullName}"></td>
                    <td th:utext="${tasklog.action?.caption}"></td>
                    <td th:utext="${tasklog.action?.result?.caption}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
</body>
</html>