<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form th:action="@{/task/{id}(id=${currentTask.id})}" method="post">
        <input type="submit" value="Back to Task"/>
    </form>
</div>
<br>
<div>
    <h3>Task log data:</h3>
    <table>
        <tr>
            <td>Author:</td>
            <td th:utext="${currentTask.author.fullName}"></td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td th:utext="${currentTask.subject}"></td>
        </tr>
    </table>
</div>
<br>
<div>
    <table>
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>User</th>
            <th>Action</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tasklog:${tasklogs}">
            <td th:utext="${#temporals.format(tasklog.dt, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:utext="${tasklog.user.fullName}"></td>
            <td th:utext="${tasklog.action}"></td>
            <td th:utext="${tasklog.action.result}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>